<html ng-app="database">

  <head>
    <style type="text/css">
    body {
      text-align: center;
      display: block;
      height: 100%;
      width: 100%;
      padding: 0px;
      background-color: rgba(150,255,150,0.2);
    }
    .container {
      text-align: left;
      width: 70%;
      //height: 100%;
      background-color: #C8FFBF;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10px;
      padding-top: 10px;
      border: dashed rgba(50,50,50,0.5);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
    }
    .gridStyle {
      border: 1px solid rgb(212,212,212);
      width: 800px;
      height: 400px;
      margin: auto;
    }
    .grid {
      width: 100%;
      text-align: center;
    }
    .refreshBtn
    {
      width: 800px;
      margin: auto;
      text-align: right;
    }
    .update {
      width: 800px;
      margin: auto;
      text-align: left;
      background-color: rgba(100,100,100,0.2);
    }
    .info {
      text-align: center;
      background-color: rgba(255,50,50,1);
      color: white;
    }
    </style>
    <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script type="text/javascript" src="http://angular-ui.github.com/ng-grid/lib/ng-grid.debug.js"></script>
    <script>
      angular.module('database', ['ngGrid'])
      .controller('mainCtrl', function($scope, $http){
        $scope.password = 'ImTheTA';
        $scope.pwd = 'ImTheTA';
        $scope.score = 0;
        $scope.ShowTable = function(password){
          var payload = 'Action=Show';
          payload = payload + "&password=" + password;
          $http.get('./list.php?' + payload)
          .success(function(data){
            $scope.table = data;
            $scope.list = angular.fromJson(data);
          });
        };
        $scope.update = function(ssn, which, score, pwd){
          var payload = 'Action=Update';
          if (angular.isDefined(ssn) && angular.isDefined(which) && angular.isDefined(score) && angular.isDefined(pwd))
          {
            payload = payload + "&SSN=" + ssn + "&which=" + which + "&score=" + score + "&password=" + pwd;

            $http.get('./list.php?' + payload)
            .success(function(data){
              $scope.info = data[0].msg;
            });
          }
        };

        $scope.gridOptions = { data: 'table'};
        $scope.col = [{ name: 'SSN'},
                      { name: 'LName'},
                      { name: 'FName'},
                      { name: 'Section'},
                      { name: 'HW1'},
                      { name: 'HW2a'},
                      { name: 'HW2b'},
                      { name: 'Midterm'},
                      { name: 'HW3'},
                      { name: 'FExam'}];
        $scope.which = [{ name: 'HW1'},
                        { name: 'HW2a'},
                        { name: 'HW2b'},
                        { name: 'Midterm'},
                        { name: 'HW3'},
                        { name: 'FExam'}];
      });
    </script>
  </head>

  <body ng-controller="mainCtrl">
    <div class="container">
      <div class="grid">
        <div class="refreshBtn">Password:<input type="text" ng-model="password"><button ng-click="ShowTable(password)">ShowTable</button></div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>
  </body>

</html>
